.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(125, 125, 125, 0.5);
  cursor: pointer;
  z-index: 1000;
}

.modal {
  position: absolute;
  background-color: white;
  border-radius: 0.8rem;
  min-height: 20rem;
  min-width: 45rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
