.content {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  &__readmore {
    font-size: 1.5rem;
    cursor: pointer;
    font-family: var(--font-inter);
    text-align: left;
  }
}
